<div class="text-center" *ngIf="showLoader">
    <img style="width:100px;" src="assets/icon/loader.svg">
  </div>
  <div class="row">
    <div class="col-12">
        <input class="form-control" (keyup)="buscarProduct($event)" type="search" placeholder="Buscar Producto">
        <i (click)="showHide()" class="size text-success icon ion-ios-add-circle"></i>
        <div *ngIf="showError" class="alert alert-primary" role="alert">
            {{ msgError }}
        </div>
    </div>
    
  </div>
  <div *ngIf="false" class="row">
    <div class="col-12">
      <form [formGroup]="formR" class="needs-validation" novalidate>
        <div class="form-group">
          <label>Referencia</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="ion-ios-barcode"></i>
              </div>
            </div>
            <input type="text" 
            [ngClass]="{ 'error-validation': submitted && f.ref.errors, 'success-validation':ref.valid && (ref.dirty || ref.touched) }"
            class="form-control text-uppercase" formControlName="ref">
          </div>

            <label>Nombre del Producto</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="ion-ios-keypad"></i>
                </div>
              </div>
              <input type="text" 
              [ngClass]="{ 'error-validation': submitted && f.name.errors, 'success-validation':name.valid && (name.dirty || name.touched) }"
              class="form-control text-capitalize" formControlName="name">
            </div>
            <label>Categoria</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ion-ios-basket"></i>
                  </div>
                </div>
                <select [ngClass]="{ 'error-validation': submitted && f.ctg.errors, 'success-validation':ctg.valid && (ctg.dirty || ctg.touched) }"
                formControlName="ctg" class="form-control">
                <option *ngFor="let item of listCtg" value="{{item.name}}">
                    {{ item.name | uppercase }}
                  </option>
                </select>
            </div>
            <label>Valor Unitario</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ion-ios-cash"></i> 
                  </div>
                </div>
                <input type="text" (keyup)="validateNumberFormat($event,1)" 
                [ngClass]="{ 'error-validation': submitted && f.vunit.errors, 'success-validation':vunit.valid && (vunit.dirty || vunit.touched) }"
                class="form-control" formControlName="vunit">
            </div>
            <label>Precio de Venta</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ion-ios-cash"></i> 
                  </div>
                </div>
                <input type="text" (keyup)="validateNumberFormat($event,2)" 
                [ngClass]="{ 'error-validation': submitted && f.vventa.errors, 'success-validation':vventa.valid && (vventa.dirty || vventa.touched) }"
                class="form-control" formControlName="vventa">
            </div>
            <label>Cantidad Entrante</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ion-ios-add-circle"></i> 
                  </div>
                </div>
                <input type="text" (keyup)="validateNumberFormat($event)" 
                [ngClass]="{ 'error-validation': submitted && f.cnt.errors, 'success-validation':cnt.valid && (cnt.dirty || cnt.touched) }"
                class="form-control" formControlName="cnt">
            </div>
            
            <label>Tipo de Empaque</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ion-ios-keypad"></i> 
                  </div>
                </div>
                <select [ngClass]="{ 'error-validation': submitted && f.tipoEmpaque.errors, 'success-validation':tipoEmpaque.valid && (tipoEmpaque.dirty || tipoEmpaque.touched) }"
                formControlName="tipoEmpaque" class="form-control">
                <option *ngFor="let item of presenTation" value="{{item.id}}">
                    {{ item.name }}
                  </option>
                </select>
                <input type="text" (keyup)="validateNumberFormat($event)" 
                placeholder="Cantidad X Unidad"
                [ngClass]="{ 'error-validation': submitted && f.cntUnd.errors, 'success-validation':cntUnd.valid && (cntUnd.dirty || cntUnd.touched) }"
                class="form-control" formControlName="cntUnd">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" *ngIf="sb" class="btn btn-primary" (click)="save()" value="Acceptar">
            <input type="submit" *ngIf="sb2" class="btn btn-primary" (click)="saveEdit()" value="Actualizar">
            <input type="reset" class="btn btn-danger mleft" (click)="clear()" value="Cancelar">
         </div>
      </form>
    </div>
  </div>
  
  <div *ngIf="!showformU" class="row">
    <div class="col-12">
      <form [formGroup]="formU" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="ion-ios-barcode"></i>
              </div>
            </div>
            <div class="custom-file">
              <input type="file" formControlName="file"
              (change)="onFileSelected($event)"
              [ngClass]="{ 'error-validation': submitted && f.file.errors, 'success-validation':file.valid && (file.dirty || file.touched) }"
               class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Seleccionar archivo</label>
            </div>
          </div>
          </div>
          <div class="form-group">
            <input type="submit" *ngIf="sb" class="btn btn-primary" (click)="saveFile()" value="Acceptar">
            <input type="reset" class="btn btn-danger mleft" (click)="clear()" value="Cancelar">
         </div>
      </form>
    </div>
  </div>
  
  <div *ngIf="showform" class="row">
    <div class="table-responsive">
     <table class="table">
      <thead>
        <tr>
          <th scope="col">REF</th>
          <th scope="col">PRODUCTO</th>
          <th scope="col">CATEGORIA</th>
          <th scope="col">PRECIO VENTA</th>
          <th scope="col">VALOR UNITARIO</th>
          <th scope="col">CANTIDAD</th>
          <th scope="col">STOCK</th>
          <th scope="col">V. TOTAL</th>
          <th scope="col">EMPAQUE</th>
          <th scope="col">CANTX UNIDAD</th>
          <th scope="col">EDITAR</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of ptvs">
        <tr>
        <td>{{ item.ref | uppercase }}</td>
        <td>{{ item.name | titlecase }}</td>
        <td>{{ item.ctg | titlecase }}</td>
        <td>{{ item.vventa | currency  }}</td>
        <td>{{ item.vunit | currency }}</td>
        <td>{{ item.cnt | number }}</td>
        <td>{{ item.stock | number }}</td>
        <td>{{ item.vtotal | currency }}</td>
        <td>
          <span *ngIf="item.tipoEmpaque==1"> Caja</span>
          <span *ngIf="item.tipoEmpaque==2"> Constales</span>
          <span *ngIf="item.tipoEmpaque==3"> Unidades</span>
        </td>
        <td>{{ item.cntUnd }}</td>
        <td>
           <span>
             <i (click)="edit(item)" class="edit text-primary icon ion-ios-create"></i>
           </span>
           <span *ngIf="false">
             <i (click)="delete(item._id)" class="delete text-danger icon ion-ios-trash"></i>
           </span>
        </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>