<div class="text-center" *ngIf="showLoader">
    <img style="width:100px;" src="assets/icon/loader.svg">
  </div>
  
  <div class="row">
    <div class="col-2">
      <form [formGroup]="formR" class="needs-validation" novalidate>
        <div class="form-group">
            <label>Punto de Venta</label>
            <div class="input-group">
              <!-- <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="ion-ios-business"></i>
                </div>
              </div> -->
              <select 
                (change)="getPoint($event.target.value)"
                [ngClass]="{ 'error-validation': submitted && f.puntoventa.errors, 'success-validation':puntoventa.valid && (puntoventa.dirty || puntoventa.touched) }"
                formControlName="puntoventa" class="form-control">
                <option *ngFor="let item of listPtv" value="{{item.name}}">
                    {{ item.name | titlecase }}
                  </option>
                </select>
            </div>
            <label>Producto</label>
            <div class="input-group">
                <!-- <div class="input-group-prepend">
                   <div class="input-group-text">
                    <i class="ion-ios-document"></i> 
                  </div> 
                </div> -->
                <input type="text"  (keyup)="searchProduct($event)"
                [ngClass]="{ 'error-validation': submitted && f.producto.errors, 'success-validation':producto.valid && (producto.dirty || producto.touched) }"
                class="form-control" formControlName="producto">
            </div>
          </div>
          <div class="form-group">
           <input type="reset" class="btn btn-danger mleft" (click)="clear()" value="Cancelar">
         </div>
      </form>
    </div>
    <div class="col-8">
      <div class="row"> 
         <div>
          <table class="table">
            <thead>
              <tr>
                <th>Referencia</th>
                <th>Producto</th>
                <th>Sección</th>
                <th>Cantidad</th>
                <th>Stock</th>
                <th>Agregar</th>
                <th>Eliminar</th>
                <th>Limpiar</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of trasladosData">
              <tr>
                <td>{{ item.ref | uppercase }}</td>
                <td>{{ item.name | titlecase }}</td>
                <td>{{ item.ctg | titlecase }}</td>
                <td><input type="text" class="form-control" (keyup)="changeCantidad($event,item._id)" value="{{item.cnt}}" placeholder="0"></td>
                <td><span class="badge badge-pill badge-primary">{{ item.stock }}</span></td>
                <td>
                  <button class="btn btn-success" (click)="add(item)">
                    <i class="ion-ios-add-circle"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="delete(item._id)">
                    <i class="ion-ios-trash"></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-info" (click)="clearTraslado(item._id)">
                    <i class="ion-ios-refresh"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
