<section class="section">
    <div class="container mt-5">
      <div class="page-error">
        <div class="page-inner">
          <h1>404</h1>
          <div class="page-description">
            No se pudo encontrar la página que estaba buscando.
          </div>
          <div class="page-search">
            <div class="mt-3">
              <a href="/" class="btn btn-primary btn-lg">Ir al Inicio</a>
            </div>
          </div>
        </div>
      </div>
      <div class="simple-footer mt-5">
        Copyright Jhon Javier Renteria &copy; Zona Libre {{ dateNow | date:'yyyy' }}
      </div> 
    </div>
  </section>