<div class="text-center" *ngIf="showLoader">
    <img style="width:100px;" src="assets/icon/loader.svg">
  </div>
  <div class="row">
    <div class="col-12">
      <i (click)="showHide()" class="size text-success icon ion-ios-add-circle"></i>
    </div>
  </div>
  <div *ngIf="showform" class="row">
    <div class="col-12">
      <form [formGroup]="formR" class="needs-validation" novalidate>
        <div class="form-group">
            <label>Categoria</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="ion-ios-keypad"></i>
                </div>
              </div>
              <input type="text" 
              [ngClass]="{ 'error-validation': submitted && f.name.errors, 'success-validation':name.valid && (name.dirty || name.touched) }"
              class="form-control text-capitalize" formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" *ngIf="sb" class="btn btn-primary" (click)="save()" value="Acceptar">
            <input type="submit" *ngIf="sb2" class="btn btn-primary" (click)="saveEdit()" value="Actualizar">
            <input type="reset" class="btn btn-danger mleft" (click)="clear()" value="Cancelar">
         </div>
      </form>
    </div>
  </div>
  
  <div *ngIf="!showform" class="row">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">CATEGORIA</th>
          <th scope="col">EDITAR</th>
          <th scope="col">ELIMINAR</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of ptvs">
        <tr>
        <td>{{ item.name | titlecase }}</td>
        <td><i (click)="edit(item)" class="edit text-primary icon ion-ios-create"></i></td>
        <td><i (click)="delete(item._id)" class="delete text-danger icon ion-ios-trash"></i></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>