<section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="login-brand">
            Zona Libre
          </div>

          <div class="card card-primary">
            <div class="card-header"><h4 class="text-center">Autenticación de Usuarios</h4></div>
            <div class="card-body">
              <form  [formGroup]="formL" class="needs-validation" novalidate>
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" 
                  [ngClass]="{ 'error-validation': submitted && f.user.errors, 'success-validation':user.valid && (user.dirty || user.touched) }"
                  class="form-control" formControlName="user">
                </div>

                <div class="form-group">
                  <!-- <div class="d-block">
                    <label class="control-label">Contraseña</label>
                    <div class="float-right">
                      <a href="auth-forgot-password.html" class="text-small">
                        olvido su contraseña?
                      </a>
                    </div>
                  </div> -->
                  <label>Contraseña</label>
                  <input type="password" 
                  [ngClass]="{ 'error-validation': submitted && f.contrasena.errors, 'success-validation':contrasena.valid && (contrasena.dirty || contrasena.touched) }"
                   class="form-control" formControlName="contrasena">
                </div>

                <div class="form-group">
                  <button type="submit" (click)="login()" class="btn btn-primary btn-lg btn-block">
                    Entrar
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="simple-footer">
            Copyright Jhon Javier Renteria &copy; Zona Libre {{ dateNow | date:'yyyy' }}
          </div>
        </div>
      </div>
    </div>
  </section>