
.error-validation {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url('assets/icon/error.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.success-validation {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url('assets/icon/ok.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.icon{
    font-size: 25px;
}


.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #ea3838 !important;
  color: #fff;
  font-size: 1.0625em;
}

.swal2-icon.swal2-warning {
  border-color: #ea3738eb !important;
  color: #ea3738 !important;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #285f9a !important;
  color: #fff;
  font-size: 1.0625em;
}

.swal2-cancel{
    margin-right: 10px !important;
  }


  .clear
  {
   font-size: 23px;
   padding: 9px;
  }
  
  .mleft
  {
   margin-left: 5px;
  }
  
  .size{
    font-size: 30px;
  }
  
  .edit{
    margin-left: 16px;
  }
  
  .delete{
    margin-left: 27px;
  }
  
  .printer{
    font-size: 30px;
  }