<h1 class="jj">dfgdfgf</h1>
<div class="main-wrapper">
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
      <form  class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li><a class="nav-link nav-link-lg"><i style="display: none; color: white; font-size: 30px;" class="icon-size ion-ios-menu"></i> </a></li>
          <li *ngIf="false"><a data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="icon-size ion-ios-search"></i></a></li>
        </ul>
        <div *ngIf="false" class="search-element">
          <input class="form-control" type="search" placeholder="Buscar" data-width="250">
          <button class="btn" type="submit"><i class="ion-ios-search"></i></button>
          <div class="search-backdrop"></div>
        </div>
      </form>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="false" class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep">
            <i class="ion-ios-mail-unread"></i></a>
          <div class="dropdown-menu dropdown-list dropdown-menu-right">
            <div class="dropdown-header">Messages
              <div class="float-right">
                <a href="#">Mark All As Read</a>
              </div>
            </div>
            <div class="dropdown-list-content dropdown-list-message">
              <a href="#" class="dropdown-item dropdown-item-unread">
                <div class="dropdown-item-avatar">
                  <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle">
                  <div class="is-online"></div>
                </div>
                <div class="dropdown-item-desc">
                  <b>Kusnaedi</b>
                  <p>Hello, Bro!</p>
                  <div class="time">10 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item dropdown-item-unread">
                <div class="dropdown-item-avatar">
                  <img alt="image" src="../assets/img/avatar/avatar-2.png" class="rounded-circle">
                </div>
                <div class="dropdown-item-desc">
                  <b>Dedik Sugiharto</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                  <div class="time">12 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item dropdown-item-unread">
                <div class="dropdown-item-avatar">
                  <img alt="image" src="../assets/img/avatar/avatar-3.png" class="rounded-circle">
                  <div class="is-online"></div>
                </div>
                <div class="dropdown-item-desc">
                  <b>Agung Ardiansyah</b>
                  <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="time">12 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="dropdown-item-avatar">
                  <img alt="image" src="../assets/img/avatar/avatar-4.png" class="rounded-circle">
                </div>
                <div class="dropdown-item-desc">
                  <b>Ardian Rahardiansyah</b>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                  <div class="time">16 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="dropdown-item-avatar">
                  <img alt="image" src="../assets/img/avatar/avatar-5.png" class="rounded-circle">
                </div>
                <div class="dropdown-item-desc">
                  <b>Alfa Zulkarnain</b>
                  <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                  <div class="time">Yesterday</div>
                </div>
              </a>
            </div>
            <div class="dropdown-footer text-center">
              <a href="#">View All <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </li>
        <li *ngIf="false" class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion-ios-notifications"></i></a>
          <div class="dropdown-menu dropdown-list dropdown-menu-right">
            <div class="dropdown-header">Notifications
              <div class="float-right">
                <a href="#">Mark All As Read</a>
              </div>
            </div>
            <div class="dropdown-list-content dropdown-list-icons">
              <a href="#" class="dropdown-item dropdown-item-unread">
                <div class="dropdown-item-icon bg-primary text-white">
                  <i class="fas fa-code"></i>
                </div>
                <div class="dropdown-item-desc">
                  Template update is available now!
                  <div class="time text-primary">2 Min Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-info text-white">
                  <i class="far fa-user"></i>
                </div>
                <div class="dropdown-item-desc">
                  <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                  <div class="time">10 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-success text-white">
                  <i class="fas fa-check"></i>
                </div>
                <div class="dropdown-item-desc">
                  <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                  <div class="time">12 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-danger text-white">
                  <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="dropdown-item-desc">
                  Low disk space. Let's clean it!
                  <div class="time">17 Hours Ago</div>
                </div>
              </a>
              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-info text-white">
                  <i class="fas fa-bell"></i>
                </div>
                <div class="dropdown-item-desc">
                  Welcome to Stisla template!
                  <div class="time">Yesterday</div>
                </div>
              </a>
            </div>
            <div class="dropdown-footer text-center">
              <a href="#">View All <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </li>
        <li class="dropdown"><a href="" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
         <div class="d-sm-none d-lg-inline-block">Hola, {{  dataServices.username  }}</div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- <div class="dropdown-title">Logged in 5 min ago</div>
            <a href="features-profile.html" class="dropdown-item has-icon">
              <i class="far fa-user"></i> Profile
            </a>
            <a href="features-activities.html" class="dropdown-item has-icon">
              <i class="fas fa-bolt"></i> Activities
            </a>
            <a href="features-settings.html" class="dropdown-item has-icon">
              <i class="fas fa-cog"></i> Settings
            </a>
            <div class="dropdown-divider"></div> -->
            <a (click)="salir()" class="dropdown-item has-icon text-danger">
              <i class="ion-ios-log-out"></i> Salir
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="main-sidebar" style="width:180px;">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a>ZONA LIBRE</a>
        </div>
        <ul class="sidebar-menu" *ngFor="let item of listModules">
            <li class="nav-item active">
              <a routerLink="{{ item.call }}" class="nav-link">
               <i class="icon-size {{ item.icon }}" ></i>
               <span> {{ item.name }}</span> </a>
            </li>
        </ul>
      </aside>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div *ngIf="false"  class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-chart">
                <canvas id="balance-chart" height="80"></canvas>
              </div>
              <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-dollar-sign"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Balance</h4>
                </div>
                <div class="card-body">
                  $187,13
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-chart">
                <canvas id="sales-chart" height="80"></canvas>
              </div>
              <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-shopping-bag"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Sales</h4>
                </div>
                <div class="card-body">
                  4,732
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
              <h4>
                {{ dataServices.title }} 
                <button *ngIf="dataServices.print>0" type="button" class="btn btn-primary">
                 Productos Adicionados 
                 <span *ngIf="dataServices.dataSend && dataServices.dataSend.length" class="badge badge-light">
                  {{ dataServices.dataSend.length }}
                </span>
                </button>
                <button (click)="save()" *ngIf="dataServices.print>0" type="button" class="btn btn-success">
                  Registrar Traslado
                  <span class="badge badge-light"><i class="ion-ios-print"></i></span>
                 </button>
              </h4>
              </div>
              <div class="card-body">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer *ngIf="false" class="main-footer">
      <div class="footer-left">
        Copyright &copy; Jhon Javier Renteria Hinojosa {{ dateNow | date:'yyyy' }}
      </div>
      <div class="footer-right">
        2.3.0
      </div>
 </footer>
  